@charset "UTF-8";
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/
/*------------------------------------*\
    $NORMALIZE
\*------------------------------------*/
/* line 6, ../../../src/assets/stylesheets/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 20, ../../../src/assets/stylesheets/base/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../../../src/assets/stylesheets/base/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 30, ../../../src/assets/stylesheets/base/_normalize.scss */
body {
  margin: 0;
}

/* line 35, ../../../src/assets/stylesheets/base/_normalize.scss */
a {
  background: transparent;
}

/* line 39, ../../../src/assets/stylesheets/base/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 43, ../../../src/assets/stylesheets/base/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 48, ../../../src/assets/stylesheets/base/_normalize.scss */
h1, h2, h2, h3, h4, h6 {
  margin: 0;
}

/* line 58, ../../../src/assets/stylesheets/base/_normalize.scss */
p {
  margin: 0;
}

/* line 62, ../../../src/assets/stylesheets/base/_normalize.scss */
::selection {
  background: #4373b0;
  color: #FFF;
}

/* line 66, ../../../src/assets/stylesheets/base/_normalize.scss */
::-moz-selection {
  background: #4373b0;
  color: #FFF;
}

/* line 71, ../../../src/assets/stylesheets/base/_normalize.scss */
ul, ol, dl, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 77, ../../../src/assets/stylesheets/base/_normalize.scss */
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* line 84, ../../../src/assets/stylesheets/base/_normalize.scss */
iframe {
  max-width: 100%;
}

/* line 88, ../../../src/assets/stylesheets/base/_normalize.scss */
figure {
  margin: 0;
}

/* line 92, ../../../src/assets/stylesheets/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    $GRID
\*------------------------------------*/
@media only screen and (min-width: 48em) {
  /* line 27, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-one-whole {
    width: 100%;
  }

  /* line 33, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-one-half, .lap-two-quarters, .lap-three-sixths, .lap-six-twelfths {
    width: 50%;
  }

  /* line 38, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-one-third, .lap-two-sixths, .lap-four-twelfths {
    width: 33.333%;
  }

  /* line 39, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-two-thirds, .lap-four-sixths, .lap-eight-twelfths {
    width: 66.666%;
  }

  /* line 45, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-one-quarter, .lap-three-twelfths {
    width: 25%;
  }

  /* line 47, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-three-quarters, .lap-nine-twelfths {
    width: 75%;
  }

  /* line 53, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-one-fifth {
    width: 20%;
  }

  /* line 54, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-two-fifths {
    width: 40%;
  }

  /* line 55, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-three-fifths {
    width: 60%;
  }

  /* line 56, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-four-fifths {
    width: 80%;
  }

  /* line 62, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-one-sixth, .lap-two-twelfths {
    width: 16.666%;
  }

  /* line 66, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-five-sixths, .lap-ten-twelfths {
    width: 83.333%;
  }

  /* line 96, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-one-twelfth {
    width: 8.333%;
  }

  /* line 100, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-five-twelfths {
    width: 41.666%;
  }

  /* line 102, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-seven-twelfths {
    width: 58.333%;
  }

  /* line 106, ../../../src/assets/stylesheets/base/_grid.scss */
  .lap-eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 62.5em) {
  /* line 27, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-one-whole {
    width: 100%;
  }

  /* line 33, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-one-half, .desk-two-quarters, .desk-three-sixths, .desk-six-twelfths {
    width: 50%;
  }

  /* line 38, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-one-third, .desk-two-sixths, .desk-four-twelfths {
    width: 33.333%;
  }

  /* line 39, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-two-thirds, .desk-four-sixths, .desk-eight-twelfths {
    width: 66.666%;
  }

  /* line 45, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-one-quarter, .desk-three-twelfths {
    width: 25%;
  }

  /* line 47, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-three-quarters, .desk-nine-twelfths {
    width: 75%;
  }

  /* line 53, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-one-fifth {
    width: 20%;
  }

  /* line 54, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-two-fifths {
    width: 40%;
  }

  /* line 55, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-three-fifths {
    width: 60%;
  }

  /* line 56, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-four-fifths {
    width: 80%;
  }

  /* line 62, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-one-sixth, .desk-two-twelfths {
    width: 16.666%;
  }

  /* line 66, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-five-sixths, .desk-ten-twelfths {
    width: 83.333%;
  }

  /* line 96, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-one-twelfth {
    width: 8.333%;
  }

  /* line 100, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-five-twelfths {
    width: 41.666%;
  }

  /* line 102, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-seven-twelfths {
    width: 58.333%;
  }

  /* line 106, ../../../src/assets/stylesheets/base/_grid.scss */
  .desk-eleven-twelfths {
    width: 91.666%;
  }
}
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* Tipos */
@font-face {
  font-family: "VW";
  src: url("../fonts/VWHeadlineOT-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/VWHeadlineOT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/VWHeadlineOT-Book.woff") format("woff"), url("../fonts/VWHeadlineOT-Book.ttf") format("truetype"), url("../fonts/VWHeadlineOT-Book.svg#VW") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "VW";
  src: url("../fonts/VWHeadlineOT-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/VWHeadlineOT-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/VWHeadlineOT-Semibold.woff") format("woff"), url("../fonts/VWHeadlineOT-Semibold.ttf") format("truetype"), url("../fonts/VWHeadlineOT-Semibold.svg#VW") format("svg");
  /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "VW";
  src: url("../fonts/VWHeadlineOT-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/VWHeadlineOT-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/VWHeadlineOT-Black.woff") format("woff"), url("../fonts/VWHeadlineOT-Black.ttf") format("truetype"), url("../fonts/VWHeadlineOT-Black.svg#VW") format("svg");
  /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
/* Global */
/* line 16, ../../../src/assets/stylesheets/base/_base.scss */
html {
  font-size: 100%;
  overflow-x: hidden;
}

/* line 21, ../../../src/assets/stylesheets/base/_base.scss */
body {
  background: #fff;
  color: #000;
  font-family: "VW", Futura, sans-serif;
  font-size: 100%;
  line-height: normal;
}

/* Body overlay */
/* line 31, ../../../src/assets/stylesheets/base/_base.scss */
body.overlay:after {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

/* Block Content */
/* line 45, ../../../src/assets/stylesheets/base/_base.scss */
h1, h2, h2, h3, h4, h6 {
  font-size: 1em;
}

/* Inline Content */
/* line 51, ../../../src/assets/stylesheets/base/_base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 56, ../../../src/assets/stylesheets/base/_base.scss */
p a {
  color: #4373b0;
}

/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
/*------------------------------------*\
    js-sensor
    -> Relocate html in responsive
\*------------------------------------*/
/* line 11, ../../../src/assets/stylesheets/base/_utilities.scss */
.js-sensor {
  display: none;
  margin-left: 0px;
}

@media only screen and (min-width: 62.5em) {
  /* line 17, ../../../src/assets/stylesheets/base/_utilities.scss */
  .js-sensor {
    margin-left: 1px;
  }
}
/*------------------------------------*\
    js-tabs
    
\*------------------------------------*/
/* line 29, ../../../src/assets/stylesheets/base/_utilities.scss */
.js-toggle .js-toggle-content {
  display: none;
}
/* line 32, ../../../src/assets/stylesheets/base/_utilities.scss */
.js-toggle.is-active .js-toggle-content {
  display: block;
}

/*------------------------------------*\
    js-tabs
    
\*------------------------------------*/
/* line 44, ../../../src/assets/stylesheets/base/_utilities.scss */
.js-tab-content .js-tab {
  display: none;
}
/* line 46, ../../../src/assets/stylesheets/base/_utilities.scss */
.js-tab-content .js-tab.is-active {
  display: block;
}

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* line 6, ../../../src/assets/stylesheets/base/_layout.scss */
html,
body {
  height: 100%;
}

/* line 11, ../../../src/assets/stylesheets/base/_layout.scss */
*:focus {
  outline: 0;
}

/* line 15, ../../../src/assets/stylesheets/base/_layout.scss */
.wrapper {
  width: 1048px;
  height: 480px;
  margin: 0 auto;
}
/* line 19, ../../../src/assets/stylesheets/base/_layout.scss */
.wrapper h1 {
  font-size: 25px;
  font-size: 1.5625rem;
  padding: 0.5em 0 0;
}
/* line 24, ../../../src/assets/stylesheets/base/_layout.scss */
.wrapper .ficha {
  height: 490px;
}
/* line 26, ../../../src/assets/stylesheets/base/_layout.scss */
.wrapper .ficha h2, .wrapper .ficha h3 {
  color: #4373b0;
}

/*
	NAVEGACI├ôN
*/
/* line 37, ../../../src/assets/stylesheets/base/_layout.scss */
button {
  background: none;
  border: none;
}

/* line 41, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-next {
  top: 270px;
  left: 100px;
  position: absolute;
  cursor: pointer;
}

/* line 47, ../../../src/assets/stylesheets/base/_layout.scss */
.icon-next {
  background: url("../images/avanzar.svg") no-repeat top center;
  display: block;
  cursor: pointer;
  font-family: "VW";
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 10px 0 0 0;
  width: 70px;
  height: 80px;
  padding: 53px 0 0 0;
  text-transform: uppercase;
  color: #a0a4a7;
}

/* line 61, ../../../src/assets/stylesheets/base/_layout.scss */
.icon-volver {
  background: url("../images/volver.svg") no-repeat top center;
  display: block;
  cursor: pointer;
  font-family: "VW";
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 10px 0 0 0;
  width: 120px;
  height: 80px;
  padding: 53px 0 0 0;
  text-transform: uppercase;
  color: #a0a4a7;
  text-align: center;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* line 79, ../../../src/assets/stylesheets/base/_layout.scss */
.icon-prev {
  display: none;
}

/* line 83, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots {
  margin: 0;
  margin-top: -50px;
  border-top: 1px solid #c1c1c1;
  position: relative;
}
/* line 89, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots .slick-active button {
  background-color: #4373b0;
}
/* line 92, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li {
  margin: 0;
  background-color: #a0a4a7;
  float: left;
  padding: 1px;
  margin: 0.25em;
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 18px;
  font-size: 1.125rem;
  text-indent: -999px;
}
/* line 105, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li button {
  float: left;
  font-size: 18px;
  text-indent: -999px;
  color: #fff;
  width: 23px;
  height: 23px;
  cursor: pointer;
  font-family: "VW";
  font-weight: 700;
}
/* line 116, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li button:hover:before {
  background: #a0a4a7;
  display: block;
  position: absolute;
  width: 60px;
  height: 20px;
  top: -48px;
  left: -20px;
  text-align: center;
  padding: 3px;
  content: "";
  font-weight: bold;
  line-height: 20px;
  font-size: 16px;
  font-size: 1rem;
  text-indent: 0px;
}
/* line 132, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li button:hover:after {
  background: url("../images/arrow.svg") no-repeat top center;
  display: block;
  position: absolute;
  width: 15px;
  height: 16px;
  top: -25px;
  left: 5px;
  content: "";
}
/* line 142, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li .slick-prev, .slick-dots li .slick-next {
  display: none;
}
/* line 144, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(1) button {
  background: url("../images/uno.png") no-repeat center center;
}
/* line 147, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(2) button {
  background: url("../images/dos.png") no-repeat center center;
}
/* line 150, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(3) button {
  background: url("../images/tres.png") no-repeat center center;
}
/* line 153, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(4) button {
  background: url("../images/cuatro.png") no-repeat center center;
}
/* line 156, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(5) button {
  background: url("../images/cinco.png") no-repeat center center;
}
/* line 159, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(7) button {
  background: url("../images/seis.png") no-repeat center center;
}
/* line 162, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(8) button {
  background: url("../images/siete.png") no-repeat center center;
}
/* line 165, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(1) button:hover:before {
  content: "Frontal";
}
/* line 168, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(2) button:hover:before {
  content: "Motor";
}
/* line 171, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(3) button:hover:before {
  content: "Lateral";
}
/* line 174, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(4) button:hover:before {
  content: "Carga";
}
/* line 177, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(5) button:hover:before {
  content: "Trasera";
}
/* line 180, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(6) {
  content: "";
  display: none;
}
/* line 184, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(7) button:hover:before {
  content: "Cabina";
}
/* line 187, ../../../src/assets/stylesheets/base/_layout.scss */
.slick-dots li:nth-child(8) button:hover:before {
  content: "Personalizacion";
  width: 120px;
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
/* line 5, ../../../src/assets/stylesheets/atomos/_navigation.scss */
.navigation {
  font-family: Futura, sans-serif;
  font-weight: 700;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
}
/* line 11, ../../../src/assets/stylesheets/atomos/_navigation.scss */
.navigation li {
  display: inline-block;
}
/* line 13, ../../../src/assets/stylesheets/atomos/_navigation.scss */
.navigation li + li {
  padding-left: 28px;
}
@media only screen and (min-width: 48em) {
  /* line 5, ../../../src/assets/stylesheets/atomos/_navigation.scss */
  .navigation {
    font-size: 14px;
    font-size: 0.875rem;
    text-align: right;
    padding-top: 10px;
  }
  /* line 24, ../../../src/assets/stylesheets/atomos/_navigation.scss */
  .navigation li + li {
    padding-left: 48px;
  }
}

/* line 1, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.ficha {
  position: relative;
}

/* line 5, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
h1 {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 700;
}

/* line 10, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
h2 {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 700;
  color: #4373b0;
}

/* line 16, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
p {
  font-size: 12px;
  font-size: 0.75rem;
  max-width: 200px;
  letter-spacing: -0.3px;
}

/* line 22, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
ul {
  margin: 20px 0 0;
}

/* 
	BOTONES
*/
/* line 30, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a {
  position: absolute;
}
/* line 33, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a span {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: block;
  content: "";
  background: #1a9ad0;
  z-index: 10;
  position: absolute;
}
/* line 44, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a .bot-content {
  display: none;
  opacity: 0;
  max-width: 130px;
  position: absolute;
}
@-webkit-keyframes bot-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes bot-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes bot-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bot-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 56, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a .bot-content:before {
  position: absolute;
  content: "";
  display: block;
}
/* line 62, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.active-hover a .bot-content {
  display: block;
  opacity: 1;
}
/* line 70, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a h3 {
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 75, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a:hover .bot-content {
  display: block;
  opacity: 0;
  -webkit-animation: bot-fade 0.45s;
  -moz-animation: bot-fade 0.45s;
  -o-animation: bot-fade 0.45s;
  animation: bot-fade 0.45s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes a-fade {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes a-fade {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes a-fade {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes a-fade {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 87, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.slick-active a {
  opacity: 0;
  -webkit-animation: a-fade 1s 1s;
  -moz-animation: a-fade 1s 1s;
  -o-animation: a-fade 1s 1s;
  animation: a-fade 1s 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -moz-transform-origin: 32px 32px;
  -o-transform-origin: 32px 32px;
  -ms-transform-origin: 32px 32px;
  -webkit-transform-origin: 32px 32px;
  transform-origin: 32px 32px;
}

/* 
	frontal
*/
/* line 99, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#frontal .info {
  position: absolute;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: #ebebec;
  right: 160px;
  top: 10px;
  text-transform: uppercase;
  color: #a0a5a8;
  padding: 30px 20px;
  text-align: center;
  line-height: 15px;
}

/* line 114, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.parabrisas {
  top: 130px;
  left: 497px;
  text-align: right;
}
/* line 119, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.parabrisas .bot-content {
  top: -76px;
  left: -250px;
}
/* line 124, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.parabrisas .bot-content:before {
  background: url("../images/parabrisas.svg") no-repeat top center;
  width: 112px;
  height: 220px;
  top: 13px;
  right: -123px;
}

/* line 133, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.capo {
  top: 200px;
  left: 587px;
}
/* line 137, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.capo .bot-content {
  top: 21px;
  right: -320px;
  max-width: 170px;
}
/* line 143, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.capo .bot-content:before {
  background-color: #000;
  width: 81px;
  height: 1px;
  background-size: 160px;
  top: 13px;
  left: -86px;
}

/* line 153, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.parachoques {
  left: 637px;
  top: 330px;
}
/* line 157, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.parachoques .bot-content {
  top: 21px;
  right: -320px;
  max-width: 170px;
}
/* line 163, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.parachoques .bot-content:before {
  background-color: #000;
  width: 81px;
  height: 1px;
  background-size: 160px;
  top: 13px;
  left: -86px;
}

/* line 174, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.diesel {
  left: 651px;
  top: 263px;
}
/* line 178, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.diesel .bot-content {
  top: 21px;
  right: -366px;
  max-width: 190px;
}
/* line 184, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.diesel .bot-content:before {
  background: url("../images/motor.png") no-repeat top center;
  width: 210px;
  height: 220px;
  top: -230px;
  left: -37px;
  background-size: 200px;
}
/* line 193, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.diesel .bot-content:after {
  background: url("../images/diesel.svg") no-repeat top center;
  position: absolute;
  content: "";
  display: block;
  width: 200px;
  height: 400px;
  top: -136px;
  left: -146px;
}

/* 
	lateral
*/
/* line 209, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#lateral h2 {
  max-width: 160px;
}

/* line 213, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.laterales {
  top: 130px;
  left: 283px;
  text-align: right;
}
/* line 218, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.laterales .bot-content {
  top: 111px;
  left: -280px;
  max-width: 200px;
}
/* line 224, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.laterales .bot-content:before {
  background: url("../images/laterales01.svg") no-repeat top center;
  width: 93px;
  height: 120px;
  background-size: 160px;
  top: -97px;
  right: -101px;
}
/* line 233, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.laterales .bot-content:after {
  background: #fff;
  content: "";
  display: block;
  position: absolute;
  width: 101px;
  height: 79px;
  background-size: 160px;
  top: 47px;
  right: 3px;
}

/* line 246, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.puerta {
  left: 431px;
  top: 217px;
}
/* line 250, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.puerta .bot-content {
  top: 138px;
  left: -394px;
  max-width: 350px;
}
/* line 257, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.puerta .bot-content:before {
  background: url("../images/laterales02.svg") no-repeat top center;
  width: 225px;
  height: 220px;
  top: -87px;
  left: 179px;
}
/* line 265, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.puerta .special {
  position: absolute;
  top: -160px;
  right: -390px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 275, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.puerta .special:after {
  background: url("../images/arrow-white.png") no-repeat top center;
  position: absolute;
  content: "";
  display: block;
  width: 126px;
  height: 26px;
  top: -30px;
  left: -9px;
}

/* line 287, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.rodaje {
  left: 341px;
  top: 370px;
}
/* line 291, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.rodaje .objtwo {
  left: 416px;
}
/* line 295, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.rodaje .bot-content {
  top: 18px;
  left: -230px;
  max-width: 350px;
}
/* line 301, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.rodaje .bot-content:before {
  background: #000;
  width: 107px;
  height: 1px;
  top: 11px;
  left: 123px;
  background-size: 200px;
}
/* line 310, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.rodaje .bot-content:after {
  background: #000;
  width: 350px;
  height: 1px;
  content: "";
  display: block;
  position: absolute;
  right: -445px;
  top: 16px;
}
/* line 321, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.rodaje .pop-up {
  top: -290px;
  width: 420px;
  height: 243px;
  left: 220px;
  background: #fff url("../images/tren-de-rodaje.jpg") no-repeat 20px 50px;
}
/* line 328, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.rodaje .pop-up p {
  max-width: 172px;
}
/* line 332, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.rodaje .delantera {
  position: absolute;
  right: 40px;
  top: 30px;
}
/* line 336, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.rodaje .delantera:after {
  background: url("../images/tren.svg") no-repeat top center;
  position: absolute;
  content: "";
  display: block;
  width: 254px;
  height: 72px;
  top: 19px;
  left: -179px;
}

/* line 349, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#lateral .info {
  position: absolute;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: rgba(235, 235, 236, 0.7);
  right: 420px;
  top: 130px;
  color: #a0a5a8;
  padding: 27px 20px;
  text-align: center;
  font-size: 1.2em;
}
/* line 362, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#lateral .info p {
  color: #000;
  margin: 5px 0;
}

/* pesta├▒a 4 */
/* line 370, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.info.altura {
  top: 212px;
  left: 168px;
  position: absolute;
}
/* line 375, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.info.altura:before {
  background: url("../images/altura.svg") no-repeat top center;
  content: "";
  display: block;
  position: absolute;
  width: 220px;
  height: 334px;
  top: -157px;
  left: 90px;
}

/* line 387, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.info.anchura {
  top: 420px;
  left: 261px;
  width: 210px;
  position: absolute;
}
/* line 393, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.info.anchura h3 {
  float: left;
}
/* line 397, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.info.anchura p {
  padding: 4px 50px;
}
/* line 401, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.info.anchura:before {
  background: url("../images/anchura.svg") no-repeat top center;
  content: "";
  display: block;
  position: absolute;
  width: 380px;
  height: 110px;
  top: -85px;
  left: 5px;
}

/* line 413, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.info.configuracion {
  top: 30px;
  right: 0px;
  position: absolute;
}

/* line 419, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.ejes {
  left: 480px;
  top: 320px;
}
/* line 422, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.ejes .pop-up {
  margin: -189px 0 0 -130px;
  height: 155pxM;
}

/* line 428, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.longitudes {
  left: 900px;
  top: 180px;
}
/* line 432, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.longitudes .pop-up {
  margin: -38px 0 0 -560px;
  height: 255px;
}
/* line 437, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.longitudes img {
  width: 96%;
}

/* line 442, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.alturas {
  left: 621px;
  top: 53px;
}
/* line 446, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.alturas .pop-up {
  margin: 95px 0 0 -294px;
  height: 175px;
}

/* line 456, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.alturas h3,
a.longitudes h3,
a.ejes h3 {
  float: left;
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 460, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.alturas p,
a.longitudes p,
a.ejes p {
  padding: 4px 15px;
  font-size: 20px;
  font-size: 1.25rem;
  max-width: none;
}
/* line 465, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.alturas .pop-up,
a.longitudes .pop-up,
a.ejes .pop-up {
  width: 550px;
}

/* pesta├▒a 5 traseras */
/* line 472, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#trasera h2 {
  max-width: 290px;
  margin-bottom: 10px;
}

/* line 478, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.traseras {
  left: 560px;
  top: 120px;
  text-align: right;
}
/* line 483, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.traseras .bot-content {
  top: 9px;
  left: -200px;
  max-width: 146px;
}
/* line 489, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.traseras .bot-content:before {
  width: 51px;
  height: 1px;
  top: 22px;
  right: -54px;
  background: #a0a4a7;
}

/* line 498, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.alturas-traseras {
  right: 20px;
  top: 50px;
  position: absolute;
  max-width: 90px;
}
/* line 504, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.alturas-traseras .bot-content {
  top: 0px;
  left: 0px;
}
/* line 509, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.alturas-traseras .bot-content:before {
  width: 220px;
  height: 364px;
  top: -30px;
  left: -218px;
  content: "";
  display: block;
  position: absolute;
  background: url("../images/altura-trasera.svg") no-repeat top center;
}

/* line 521, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#trasera-b h2,
#trasera h2 {
  max-width: 200px;
}

/* line 525, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.altura-suelo {
  bottom: 133px;
  right: 420px;
}
/* line 529, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.altura-suelo span.esp {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  background: none;
  display: block;
  height: auto;
  width: auto;
  position: relative;
}
/* line 539, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.altura-suelo .bot-content {
  left: -330px;
  max-width: none;
  text-align: right;
  top: 20px;
}
/* line 546, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.altura-suelo .bot-content:before {
  content: "";
  display: block;
  height: 334px;
  left: 138px;
  position: absolute;
  top: 1px;
  width: 520px;
  background: url("../images/anchura-traseras.svg") no-repeat top center;
}
/* line 556, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.altura-suelo img {
  left: 149px;
  position: absolute;
  top: -201px;
}

/* line 563, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.apertura-img {
  right: 340px;
  top: 150px;
}
/* line 567, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.apertura-img .bot-content {
  left: -386px;
  max-width: none;
  top: -15px;
}

/* line 574, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.apertura-puertas {
  right: 10px;
  top: 123px;
  position: absolute;
  max-width: 100px;
}
/* line 580, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.apertura-puertas:before {
  background: url("../images/arrow-circular.svg") no-repeat top center;
  width: 70px;
  height: 34px;
  top: -20px;
  left: -50px;
  content: "";
  display: block;
  position: absolute;
}

/* line 592, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.cabina1 {
  left: 567px;
  top: 114px;
}
/* line 595, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.cabina1 .bot-content {
  top: -17px;
  left: -276px;
  max-width: none;
}
/* line 600, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.cabina1 img {
  width: 100%;
  margin-top: 10px;
}

/* line 606, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.cabina2 {
  left: 640px;
  top: 115px;
}
/* line 610, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.cabina2 .bot-content {
  top: -102px;
  right: -380px;
  max-width: none;
}
/* line 615, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.cabina2 img {
  margin-top: 55px;
  margin-left: -40px;
  width: 322px;
}
/* line 620, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.cabina2 .a {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #4373b0;
  color: #fff;
  padding: 3px 7px;
}
/* line 628, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.cabina2 .b {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #4373b0;
  color: #fff;
  padding: 3px 7px;
}
/* line 636, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
a.cabina2 h3,
a.cabina2 p {
  margin-left: 33px;
}

/* line 642, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.slick-slide .trasera01 {
  display: none;
  position: absolute;
  top: 100px;
  left: 320px;
}

/* line 649, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.slick-slide .trasera02 {
  display: none;
  position: absolute;
  top: 100px;
  left: 410px;
}

/* pesta├▒a 6 cabina */
/* line 659, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#cabina .info {
  position: absolute;
  right: 0;
  top: 164px;
}

/* pesta├▒a 7 */
/* line 668, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#personalizacion h3 {
  position: absolute;
  max-width: 100px;
}
/* line 672, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#personalizacion .bus {
  top: 190px;
  left: 130px;
}
/* line 676, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#personalizacion .caja {
  top: 110px;
  left: 520px;
  text-align: right;
}
/* line 681, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#personalizacion .brigada {
  top: 300px;
  left: 230px;
}
/* line 685, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#personalizacion .ambulancia {
  top: 320px;
  left: 540px;
}
/* line 689, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#personalizacion .grua {
  left: 910px;
  top: 290px;
}
/* line 694, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#personalizacion a {
  text-decoration: underline;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  opacity: 1;
}
/* line 702, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#personalizacion p {
  max-width: none;
}

/* comunes a todas las pesta├▒as */
/* line 710, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.pop-up {
  position: absolute;
  top: 0;
  padding: 15px;
  background: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 100;
}
/* line 721, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.pop-up p {
  max-width: none;
}
/* line 725, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.pop-up:before {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
}

/* line 736, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.slick-active .nota {
  opacity: 1;
}

/* line 740, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.nota {
  position: absolute;
  max-width: none;
  right: 20px;
  bottom: 0px;
  opacity: 0;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.6;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.6;
  }
}
/* line 772, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
.objblink {
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-direction: normal;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-timing-function: ease-in-out;
}

/* line 792, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#frontal {
  background: url("../images/bg01.jpg") no-repeat top center;
}

/* line 797, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#motor {
  background: url("../images/bg02-b.jpg") no-repeat top center;
}

/* line 801, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#motor.motor-bg.slick-active {
  background: url("../images/bg02.jpg") no-repeat top center !important;
}

/* line 805, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#lateral {
  background: url("../images/bg03.jpg") no-repeat center 20px;
}
/* line 807, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#lateral.is-popup:before {
  background: rgba(255, 255, 255, 0.5);
  width: 1024px;
  height: 768px;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
}
/* line 816, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#lateral.is-popup .info {
  opacity: 0.5;
}

/* line 821, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#carga {
  background: url("../images/bg03.jpg") no-repeat center 20px;
}
/* line 823, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#carga.is-popup:before {
  background: rgba(255, 255, 255, 0.5);
  width: 1024px;
  height: 768px;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
}
/* line 832, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#carga.is-popup .info {
  opacity: 0.5;
}

/* line 837, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#trasera {
  background: url("../images/bg05.jpg") no-repeat center 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 844, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#trasera-b {
  background: url("../images/bg05b.jpg") no-repeat center 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 849, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#trasera-b.is-popup:before {
  background: rgba(255, 255, 255, 0.5);
  width: 1024px;
  height: 768px;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
}
/* line 858, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#trasera-b.is-popup .info {
  opacity: 0.5;
}

/* line 863, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#cabina {
  background: url("../images/bg06.jpg") no-repeat top center;
}
/* line 865, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#cabina.is-popup:before {
  background: rgba(255, 255, 255, 0.7);
  width: 1024px;
  height: 768px;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
}
/* line 874, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#cabina.is-popup .info {
  opacity: 0.5;
}

/* line 879, ../../../src/assets/stylesheets/moleculas/_fichas.scss */
#personalizacion {
  background: url("../images/bg07.jpg") no-repeat center 20px;
}

/* 
	SECTION
*/
/* line 6, ../../../src/assets/stylesheets/organismos/_masthead.scss */
section {
  height: 768px;
}
