/*# sourceMappingURL=main.css.map */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/
/*------------------------------------*\
    $NORMALIZE
\*------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1, h2, h2, h3, h4, h6 {
  margin: 0;
}

p {
  margin: 0;
}

::-moz-selection {
  background: #1074b4;
  color: #FFF;
}

::selection {
  background: #1074b4;
  color: #FFF;
}

::-moz-selection {
  background: #1074b4;
  color: #FFF;
}

ul, ol, dl, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    $GRID
\*------------------------------------*/
@media only screen and (min-width: 48em) {
  .lap-one-whole {
    width: 100%;
  }

  .lap-one-half, .lap-two-quarters, .lap-three-sixths, .lap-six-twelfths {
    width: 50%;
  }

  .lap-one-third, .lap-two-sixths, .lap-four-twelfths {
    width: 33.333%;
  }

  .lap-two-thirds, .lap-four-sixths, .lap-eight-twelfths {
    width: 66.666%;
  }

  .lap-one-quarter, .lap-three-twelfths {
    width: 25%;
  }

  .lap-three-quarters, .lap-nine-twelfths {
    width: 75%;
  }

  .lap-one-fifth {
    width: 20%;
  }

  .lap-two-fifths {
    width: 40%;
  }

  .lap-three-fifths {
    width: 60%;
  }

  .lap-four-fifths {
    width: 80%;
  }

  .lap-one-sixth, .lap-two-twelfths {
    width: 16.666%;
  }

  .lap-five-sixths, .lap-ten-twelfths {
    width: 83.333%;
  }

  .lap-one-twelfth {
    width: 8.333%;
  }

  .lap-five-twelfths {
    width: 41.666%;
  }

  .lap-seven-twelfths {
    width: 58.333%;
  }

  .lap-eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 62.5em) {
  .desk-one-whole {
    width: 100%;
  }

  .desk-one-half, .desk-two-quarters, .desk-three-sixths, .desk-six-twelfths {
    width: 50%;
  }

  .desk-one-third, .desk-two-sixths, .desk-four-twelfths {
    width: 33.333%;
  }

  .desk-two-thirds, .desk-four-sixths, .desk-eight-twelfths {
    width: 66.666%;
  }

  .desk-one-quarter, .desk-three-twelfths {
    width: 25%;
  }

  .desk-three-quarters, .desk-nine-twelfths {
    width: 75%;
  }

  .desk-one-fifth {
    width: 20%;
  }

  .desk-two-fifths {
    width: 40%;
  }

  .desk-three-fifths {
    width: 60%;
  }

  .desk-four-fifths {
    width: 80%;
  }

  .desk-one-sixth, .desk-two-twelfths {
    width: 16.666%;
  }

  .desk-five-sixths, .desk-ten-twelfths {
    width: 83.333%;
  }

  .desk-one-twelfth {
    width: 8.333%;
  }

  .desk-five-twelfths {
    width: 41.666%;
  }

  .desk-seven-twelfths {
    width: 58.333%;
  }

  .desk-eleven-twelfths {
    width: 91.666%;
  }
}
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* Tipos */
@font-face {
  font-family: "VWHeadlineBook";
  src: url("../fonts/VWHeadlineOT-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/VWHeadlineOT-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/VWHeadlineOT-Black.woff") format("woff"), url("../fonts/VWHeadlineOT-Black.ttf") format("truetype"), url("../fonts/VWHeadlineOT-Black.svg#VWHeadlineBook") format("svg");
  /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "VWHeadlineBook";
  src: url("../fonts/VWHeadlineOT-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/VWHeadlineOT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/VWHeadlineOT-Book.woff") format("woff"), url("../fonts/VWHeadlineOT-Book.ttf") format("truetype"), url("../fonts/VWHeadlineOT-Book.svg#VWHeadlineBook") format("svg");
  /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "VWHeadlineBook";
  src: url("../fonts/VWHeadlineOT-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/VWHeadlineOT-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/VWHeadlineOT-Semibold.woff") format("woff"), url("../fonts/VWHeadlineOT-Semibold.ttf") format("truetype"), url("../fonts/VWHeadlineOT-Semibold.svg#VWHeadlineBook") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
/* Global */
html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #000;
  font-family: "VWHeadlineBook";
  font-size: 100%;
  line-height: normal;
}

/* Block Content */
h1, h2, h2, h3, h4, h6 {
  font-size: 1em;
}

/* Inline Content */
a {
  color: inherit;
  text-decoration: none;
}

p a {
  color: #1074b4;
}

/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/
/*------------------------------------*\
    js-sensor
    -> Relocate html in responsive
\*------------------------------------*/
.js-sensor {
  display: none;
  margin-left: 0px;
}

@media only screen and (min-width: 62.5em) {
  .js-sensor {
    margin-left: 1px;
  }
}
/*------------------------------------*\
    js-tabs

\*------------------------------------*/
.js-toggle .js-toggle-content {
  display: none;
}
.js-toggle.is-active .js-toggle-content {
  display: block;
}

/*------------------------------------*\
    js-tabs

\*------------------------------------*/
.js-tab-content .js-tab {
  display: none;
}
.js-tab-content .js-tab.is-active {
  display: block;
}

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
html,
body {
  width: 100%;
}

.wrapper {
  width: 1048px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #777;
  position:relative;
}

body {
  padding-top: 65px;
}
@media only screen and (min-width: 48em) and (max-width: 62.49938em) {
  body {
    padding-top: 70px;
  }
}
@media only screen and (min-width: 62.5em) {
  body {
    padding-top: 56px;
  }
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* Grid Container */
.g {
  font-size: 0;
}
.g > * {
  font-size: 16px;
  font-size: 1rem;
}

/* Grid Item */
.gi {
  font-size: 16px;
  font-size: 1rem;
}
@media only screen and (min-width: 48em) {
  .gi {
    display: inline-block;
    vertical-align: top;
  }
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.navigation {
  font-family: "Mercury";
  font-weight: 700;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.navigation li {
  display: inline-block;
}
.navigation li + li {
  padding-left: 28px;
}
@media only screen and (min-width: 48em) {
  .navigation {
    font-size: 14px;
    font-size: 0.875rem;
    text-align: right;
    padding-top: 10px;
  }
  .navigation li + li {
    padding-left: 48px;
  }
}

/*------------------------------------*\
    $ICONS
\*------------------------------------*/
.icon {
  display: inline-block;
  vertical-align: middle;
  font-family: 'canal';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  overflow: hidden;
}

.icon-calif-moral-1:before {
  content: "a";
}

.icon-calif-moral-2:before {
  content: "b";
}

.icon-calif-moral-3:before {
  content: "c";
}

.icon-calif-moral-4:before {
  content: "d";
}

.icon-calif-moral-5:before {
  content: "e";
}

.icon-calif-moral-6:before {
  content: "f";
}

.icon-4-3:before {
  content: "g";
}

.icon-16-9:before {
  content: "h";
}

.icon-add:before {
  content: "i";
}

.icon-add-button:before {
  content: "j";
}

.icon-alert:before {
  content: "k";
}

.icon-calendar:before {
  content: "l";
}

.icon-cancel:before {
  content: "m";
}

.icon-cancel-box:before {
  content: "n";
}

.icon-connect:before {
  content: "o";
}

.icon-delete:before {
  content: "p";
}

.icon-disconnect:before {
  content: "q";
}

.icon-down:before {
  content: "r";
}

.icon-down-button:before {
  content: "s";
}

.icon-download:before {
  content: "t";
}

.icon-edit:before {
  content: "u";
}

.icon-facebook:before {
  content: "v";
}

.icon-hd:before {
  content: "w";
}

.icon-help:before {
  content: "x";
}

.icon-link:before {
  content: "y";
}

.icon-next:before {
  content: "z";
}

.icon-next-button:before {
  content: "A";
}

.icon-ok:before {
  content: "B";
}

.icon-ok-box:before {
  content: "C";
}

.icon-play-button:before {
  content: "D";
}

.icon-prev:before {
  content: "E";
}

.icon-prev-button:before {
  content: "F";
}

.icon-save:before {
  content: "G";
}

.icon-sd:before {
  content: "H";
}

.icon-search:before {
  content: "I";
}

.icon-star:before {
  content: "J";
}

.icon-star-shape:before {
  content: "K";
}

.icon-twitter:before {
  content: "L";
}

.icon-up:before {
  content: "M";
}

.icon-up-button:before {
  content: "N";
}

.icon-vimeo:before {
  content: "O";
}

.icon-vos:before {
  content: "P";
}

.icon-wifi:before {
  content: "Q";
}

.icon-youtube:before {
  content: "R";
}

.icon-android-phone:before {
  content: "S";
}

.icon-android-tablet:before {
  content: "T";
}

.icon-control:before {
  content: "U";
}

.icon-desco:before {
  content: "V";
}

.icon-ipad:before {
  content: "W";
}

.icon-ipbox:before {
  content: "X";
}

.icon-iphone:before {
  content: "Y";
}

.icon-iplus:before {
  content: "Z";
}

.icon-jazzbox:before {
  content: "0";
}

.icon-lg:before {
  content: "1";
}

.icon-mac:before {
  content: "2";
}

.icon-pc:before {
  content: "3";
}

.icon-phone:before {
  content: "4";
}

.icon-play-station:before {
  content: "5";
}

.icon-play-station-3:before {
  content: "6";
}

.icon-play-station-4:before {
  content: "7";
}

.icon-samsung:before {
  content: "8";
}

.icon-smart-tv:before {
  content: "9";
}

.icon-tablet:before {
  content: "!";
}

.icon-vodafone-box:before {
  content: "\"";
}

.icon-xbox:before {
  content: "#";
}

.icon-xbox-360:before {
  content: "$";
}

.icon-xbox-one:before {
  content: "%";
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.page {
  margin-top: 1em;
  padding: 1em;
  position: relative;
}
.page h2 {
  font-family: "VWHeadlineBook";
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 500;
}
.page h3 {
  font-size: 13px;
  font-size: 0.8125rem;
}
.page p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 11px;
  font-size: 0.6875rem;
}
.page p.small-print {
  position: absolute;
  font-size: 10px;
  font-size: 0.625rem;
  text-transform: none;
  bottom: -17px;
  left: 10px;
}
.page p.small-print span {
  color: #999;
}

/*------------------------------------*\
    $sections
\*------------------------------------*/
.page section {
  position: relative;
  float: left;
  width: 25%;
  text-align: left;
}
.page section h3 {
  color: #1074b4;
  font-size: 16px;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 500;
  padding-bottom: 0;
  margin-top: 5px;
}
.page section .desc {
  text-transform: none;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom:0;
  padding-left:0;
}
.page section .title {
  text-align: center;
  background: url(../images/combo-bg.jpg);
  width: auto;
  font-weight: 300;
  display: inline-block;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #888;
  color: #1074b4;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 22px;
  line-height: 22px;
}
.page section .title:before{
  background: url(../images/sombra.jpg);
  content:"";
  width:147px;
  height:56px;
  position: absolute;
  z-index: -10;
  top: 6px;
}
.page section#CADDY .title:before{
  margin-left: -45px;
}
.page section#TRANSPORTER .title:before{
  margin-left: -25px;
}
.page section#CRAFTER .title:before{
  margin-left: -39px;
}
.page section#AMAROK .title:before{
  margin-left: -35px;
}
.page section ul {
  display: none;
  position: absolute;
  border: 1px solid #888;
  text-align: left;
  left: 50%;
  margin: 0 auto;
}
.page section ul li {
  display: block;
  font-weight: 300;
  background-color: #fff;
  padding-right: 10px;
  padding-left: 5px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 17px;
  cursor: pointer;
}
.page section ul li:nth-child(2n) {
  background-color: #e9e9ea;
}
.page section ul li:hover {
  background-color: #1074b4;
}
.page section ul.CADDY {
  margin-left: -127px;
}
.page section ul.TRANSPORTER {
  margin-left: -126px;
}
.page section ul.CRAFTER {
  margin-left: -127px;
}
.page section ul.AMAROK {
  margin-left: -126px;
}
.page section .pic {
  margin-top: 20px;
  height: 248px;
  width: 244px;
  border: 1px solid #EEEEEE;
  text-align: center;
}
.page section .pic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.page section .pic img {
  vertical-align: middle;
  display: inline-block;
  width: 90%;
}

.img-right{
  position: absolute;
  top: 10px;
  right: 24px;
}