
<div id="cabina" class="ficha">
  <h1>Cómo comprar un furgón</h1>
  <h2>6. Cabina</h2>
  <p>Vas a estar 8 o más horas allí sentado: busca comodidad y ergonomía. Entra en la cabina y acomódate, ponte el cinturón ajusta los asientos y espejos. De este modo tendrás una visión clara y completa de la cabina, condúcelo antes de decidirte.</p>
  <div class="info">
    <h3>Equipamiento interior</h3>
    <p>Lo que debes mirar en una cabina es que sea amplia, espaciosa y confortable.</p>
  </div><a href="#" class="cabina1"><span class="objblink"></span>
    <div class="bot-content">
      <h3>Amplia, espaciosa y confortable</h3><img src="assets/images/cabina01.png" alt="traseras furgoneta Crafter"/>
    </div></a><a href="#" class="cabina2"><span class="objblink"></span>
    <div class="bot-content"><span class="a">A</span>
      <h3>Pantalla multifunción</h3>
      <p>Puedes conocer al instante todo lo que le sucede al vehículo.</p><span class="b">B</span>
      <h3>Climatizador ‘Climatic’</h3>
      <p>Te proporciona un ambiente agradable y libre de polvo.</p><img src="assets/images/cabina02.png" alt="traseras furgoneta Crafter"/>
    </div></a>
</div>