
<div id="carga" class="ficha">
  <h1>Cómo comprar un furgón</h1>
  <h2>4. Área de carga</h2>
  <p>Fíjate en el tamaño del área de carga, en los elementos para asegurar la mercancía, así como en la capacidad de carga del vehículo, versatilidad y comodidad a la hora de cargar y descargar.</p>
  <p class="nota">NOTA: medidas de referencia para furgón grande.</p>
  <div class="info anchura">
    <h3>Largo:</h3>
    <p>de 2,6 m a 4,7 m</p>
  </div>
  <div class="info altura">
    <h3>Altura:</h3>
    <p>de 1,65 m a 2,14 m</p>
  </div>
  <div class="info configuracion">
    <h3>Configuración</h3>
    <p>Mira todas las posibilidades que te ofrece el modelo de furgón que te gusta.</p>
  </div><a href="#" class="ejes"><span class="objblink"></span>
    <div class="bot-content">
      <div class="pop-up">
        <h3>3</h3>
        <p>Distancias entre ejes</p><img src="assets/images/ejes.jpg" alt="ejes de furgoneta Crafter"/>
      </div>
    </div></a><a href="#" class="alturas"><span class="objblink"></span>
    <div class="bot-content">
      <div class="pop-up">
        <h3>3</h3>
        <p>Alturas diferentes</p><img src="assets/images/alturas.jpg" alt="alturas de furgoneta Crafter"/>
      </div>
    </div></a><a href="#" class="longitudes"><span class="objblink"></span>
    <div class="bot-content">
      <div class="pop-up">
        <h3>4</h3>
        <p>Longitudes de carga distintas</p><img src="assets/images/longitudes.jpg" alt="longitudes de furgoneta Crafter"/>
      </div>
    </div></a>
</div>