
<div id="frontal" class="ficha">
  <h1>Cómo comprar un furgón</h1>
  <h2>1. Frontal</h2>
  <p>¿Qué uso le vas a dar a tu furgón? ¿Transportas mercancías, personas? Revisa en primer lugar la parte delantera.</p>
  <div class="info">
    <p>Pasa sobre los círculos para ver más información</p>
  </div><a href="#" class="parabrisas"><span class="objblink"></span>
    <div class="bot-content">
      <h3>Parabrisas</h3>
      <p>De fácil acceso, con escalón integrado en el parachoques.</p>
    </div></a><a href="#" class="capo"><span class="objblink"></span>
    <div class="bot-content">
      <h3>Capó corto</h3>
      <p>Mejora la visión y garantiza la maniobrabilidad en espacios estrechos.</p>
    </div></a><a href="#" class="parachoques"><span class="objblink"></span>
    <div class="bot-content">
      <h3>Parachoques</h3>
      <p>De aspecto robusto, sin pintar para el trabajo duro.</p>
    </div></a>
</div>