
<div id="lateral" class="ficha">
  <h1>Cómo comprar un furgón</h1>
  <h2>3. Lateral / tren de rodaje</h2>
  <p>En un furgón debes tener en cuenta el fácil acceso al interior y unas amplias puertas laterales que te faciliten el trabajo diario.</p>
  <p class="nota">NOTA: medidas de referencia para furgón grande.</p>
  <div class="info">
    <h3>Volumen de carga</h3>
    <p>De hasta 17 m3</p>
  </div><a href="#" class="laterales"><span class="objblink"></span>
    <div class="bot-content">
      <h3>Laterales reforzados</h3>
      <p>Con zonas de inducción de energía ante choques laterales.</p>
    </div></a><a href="#" class="puerta"><span class="objblink"></span>
    <div class="bot-content">
      <h3>Puerta corrediza</h3>
      <p>Una puerta ancha de gran apertura para que la carga  y descarga sea fluida.</p>
      <p class="special">140 mm ó 1300 mm</p>
    </div></a><a href="#" class="rodaje"><span class="objblink"></span><span class="objblink objtwo"></span>
    <div class="bot-content">
      <h3>Tren de rodaje</h3>
      <p>Suspensión delantera independiente; trasera, rígida.</p>
      <div class="pop-up">
        <h3>Suspensiones</h3>
        <p>Trasera en eje rígido con ballestas, barra estabilizadora y amortiguadores.</p>
        <p class="delantera">Delantera independiente</p>
      </div>
    </div></a>
</div>