
<div id="motor" class="ficha">
  <h1>Cómo comprar un furgón</h1>
  <h2>2. Motor</h2>
  <p>La motorización es crucial. Fíjate en la eficiencia, ahorro de combustible, costos de mantenimiento, transmisiones disponibles. Torque y potencia son claves en tu elección final.</p><a href="#" class="diesel"><span class="objblink"></span>
    <div class="bot-content">
      <h3>Diesel</h3>
      <p>Es la opción más rendidora por sus bajos costes de mantenimiento.</p>
      <ul>
        <li>
          <p>- Alto par desde bajas revoluciones </p>
        </li>
        <li>
          <p>- Motores potentes de baja cilindrada</p>
        </li>
      </ul>
    </div></a>
</div>