
<div id="personalizacion" class="ficha">
  <h1>Cómo comprar un furgón</h1>
  <h2>7. Personalización</h2>
  <p>Cuando tu trabajo tiene requerimientos especiales, busca una base que sea compatible con &nbsp;<a href="https://umbauportal.de/">multitud de carrocerías.</a></p>
  <h3 class="bus">Bus</h3>
  <h3 class="caja">Caja de carga</h3>
  <h3 class="brigada">Brigada contra incendios</h3>
  <h3 class="ambulancia">Ambulancia</h3>
  <h3 class="grua">Grúa con plataforma de elevación</h3><span class="icon-volver">Volver al inicio</span>
</div>