
<div id="trasera-b" class="ficha">
  <h1>Cómo comprar un furgón</h1>
  <h2>5. Parte trasera / área de carga / pasajeros</h2>
  <p>La altura del vehículo en la zona de carga es muy importante. Si vas a transportar personas exige bases amplias y seguras para conversiones.</p>
  <p class="nota">NOTA: medidas de referencia para furgón grande.</p>
  <div class="apertura-puertas">
    <h3>Gran ángulo de apertura de puertas</h3>
  </div><a href="#" class="altura-suelo"><span class="objblink"></span>
    <div class="bot-content"><img src="assets/images/traseras-b-1.png" alt="ejes de furgoneta Crafter"/>
      <h3>Altura al suelo</h3>
      <p><span class="esp">725 mm </span>Ten en cuenta esta zona para asegurarte que cualquier trabajo sea fácil.</p>
    </div></a><a href="#" class="apertura-img"><span class="objblink"></span>
    <div class="bot-content"><img src="assets/images/traseras-b-2.png" alt="ejes de furgoneta Crafter"/></div></a>
</div>