
<div id="trasera" class="ficha">
  <h1>Cómo comprar un furgón</h1>
  <h2>5. Parte trasera / área de carga / pasajeros</h2>
  <p>La altura del vehículo en la zona de carga es muy importante. Si vas a transportar personas exige bases amplias y seguras para conversiones.</p>
  <p class="nota">NOTA: medidas de referencia para furgón grande.</p><a href="#" class="traseras"><span class="objblink"></span>
    <div class="bot-content">
      <h3>Puerta trasera</h3>
      <p>Fíjate que sean amplias y con ángulos de apertura grandes.</p>
    </div></a>
  <div class="alturas-traseras">
    <div class="bot-content">
      <h3>Altura:</h3>
      <p>de 1540 mm a 1820 mm</p>
    </div>
  </div>
</div>