@semibold: 'vw_headline_otsemibold';
@black: 'vw_headline_otblack';
@book: 'vw_headline_otbook';
@size: 14px;


.cmargin(@h, @w, @t, @r, @b, @l) {
    height: (@h - ( @t + @b ));
    margin: @t @r @b @l;
    width: (@w - ( @r + @l ));
}

.cpadding(@h, @w, @t, @r, @b, @l) {
    height: (@h - ( @t + @b ));
    padding: @t @r @b @l;
    width: (@w - ( @r + @l ));
}

.font(@color, @family, @size, @weigth: normal) {
    color: @color;
    font-family: @family;
    font-size: @size;
    font-weight: @weigth;
}

body {
     .font(#49555e, @book, @size);
}

header {
    border-bottom: 1px solid #c7c7c7;
    margin: 1em 0 2em;
    overflow: hidden;
    padding-bottom: 1.5em;
    position: relative;
    nav, .logo {
      display: inline-block;
      vertical-align: bottom;
    }
    nav {
        ul {
            li {
                display: inline-block;
                a {
                  border-right: 1px solid #dce1e2;
                  padding: 0 1em;
                  .font(#42545e, @book, 1em);
                }
            }
            li:last-child {
              a {
                border-right: none;
              }
            }
            #main_menu {
              padding-left: 0;
            }
        }
    }
    .button-header {
      position: absolute;
      right: 0;
      top: 0;
      section {
        margin-top: 1.5em;
        div {
          display: inline-block;
        }
      }
    }
    .button-header-mobile {
      position: absolute;
      right: 0;
      top: 0;
      section {
        margin-top: 1.5em;
        div {
          display: inline-block;
        }
      }
    }
    .logo {
      img {
        max-width: 63%;
        padding: .6em 0;
      }
    }
    .social-networks {
      a {
        padding: .5em 1em;
      }
      .facebook {
        background: url(../img/icon/social-networks.png) no-repeat top 2px left 0px;
      }
      .youtube {
       background: url(../img/icon/social-networks.png) no-repeat top 4px left -28px;
      }
    }
}
footer {
  border-top: 1px solid #ecefee;
  margin-top: 2em;
  .logo-footer {
    float: right;
    margin: 1em;
    a {
      color: #42545e;
      font-size: .9em;
      margin-left: .5em;
    }
  }
  .more-information {
    float: left;
    margin: 1em;
    a {
      color: #2274ac;
      font-size: .9em;
      margin-left: .5em;
    }
  }
}
.breadcrumbs {
  .font(#2274ac, @black, 2.2em);
  margin: 0;
  a {
    .font(#2274ac, @book, 1em);
  }
}
.brochure-pdf {
  display: inline-block;
  .button-blue {
    display: inline-block;
    margin: 10px 0;
  }
  .container-preview {
    position: relative;
    overflow: hidden;
    .excerpt {
      background: rgba(1, 1, 1, .4);
      bottom: -100%;
      height: 100%;
      position: absolute;
      width: 100%;
      -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
      transition: all .5s;
      .view-more {
        bottom: auto;
        left: 50%;
        margin-left: -23px;
        margin-top: -23px;
        right: auto;
        top: 50%;
      }
    }
    .img-preview {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid #c7c7c7;
      height: 320px;
      width: 250px;
      -webkit-transition: all .7s; /* For Safari 3.1 to 6.0 */
      transition: all .7s;
    }
    &:hover .img-preview {
      -webkit-filter: blur(3px);
    }
    &:hover .excerpt {
      bottom: 0;
    }
  }
}
.button-blue {
  color: #ffffff;
  font-family: 'vw_headline_otsemibold';
  font-size: 1em;
  font-weight: normal;
  background: #2274ac;
  border: 1px solid #bababa;
  border-top: none;
  border-radius: .3em;
  box-shadow: 0px 1px 5px #d7d7d7;
  min-width: 104px;
  padding: .3em 1.2em;
  &:hover {
    color: #fff;
  }
}
.button-white {
  .font(#2274ac, @semibold, 1em);
  border: 1px solid #bababa;
  border-top: none;
  border-radius: .3em;
  box-shadow: 0px 1px 5px #d7d7d7;
  min-width: 8.8em;
  padding: .3em .9em;
}
.category {
  article.post-category {
    margin-bottom: 1em;
    figure {
      position: relative;
      figcaption {
        .font(#fff, @semibold, 1.1em,);
        background: #02b2e1;
        min-width: 90px;
        padding: .2em .5em .1em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
      }
    }
    .info-post {
      padding-left: 2em;
      h2 {
        .font(#49555e, @black, 1.7em);
        margin: 0;
        a {
          .font(#49555e, @black, .95em);
        }
      }
      p {
        .font(#49555e, @book, 1.35em);
      }
    }
  }
  .right-models {
    float: right;
    margin-top: 1.3em;
    text-align: center;
  }
}
.content-home {
  article {
    figure {
      position: relative;
      overflow: hidden;
      figcaption {
        .font(#fff, @black, 1.2em);
        background: rgba(1, 1, 1, .4);
        bottom: 0;
        min-height: 5em;
        padding: .5em;
        position: absolute;
        width: 100%;
        -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
        transition: all .5s;
      }
      img {
        -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
        transition: all .5s;
      }
      .excerpt {
        .font(#fff, @book, 1em);
        background: rgba(1, 1, 1, .4);
        bottom: -100%;
        position: absolute;
        padding: .5em;
        height: 100%;
        -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
        transition: all .5s;
        h4 {
          font-family: @black;
        }
        p {
          color: #c7c7c7;
        }
      }
      &:hover img {
        -webkit-filter: blur(3px);
      }
      &:hover figcaption {
        // min-height: 100%;
        opacity: 0;
      }
      &:hover .excerpt {
        bottom: 0;
      }
    }
  }
  .move-your-business {
      .font(#49555e, @black, 2em);
      margin: 1.5em 0 .8em;
  }
}
.filter {
  margin: 1.5em 0;
  select {
    min-width: 238px;
  }
  .searchCategories {
    display: inline;
  }
}
.internal-post {
  aside {
    padding-left: 2em;
    .cotizador {
      padding-bottom: 1.5em;
      padding-left: 2em;
      h3 {
        .font(#6b6c6c, @book, 1.6em);
        margin-top: 0;
      }
      .border-silver {
        border: 1px solid #eaeeed;
        padding: 1.2em;
      }
      .button-blue {
        border-radius: 0;
        display: block;
        font-size: 1.2em;
        margin: 0 auto;
        max-width: 150px;
      }
    }
    .internal-aside {
      border-left: 1px solid #eaeeed;
      padding-bottom: 1.5em;
      padding-left: 2em;
      h3 {
        .font(#6b6c6c, @black, 2.2em);
        margin-top: 0;
      }
    }
    .more-read {
      background: #eaeeed;
      margin-bottom: .5em;
      padding: 1.2em;
      h4 {
        a {
          .font(#02b2e1, @black, 1em);
        }
      }
      p {
        .font(#49555e, @book, 1em, bold);
      }
    }
    .newsletter-subscription {
      border-left: 1px solid #eaeeed;
      padding-bottom: 1.5em;
      padding-left: 2em;
      h3 {
        .font(#6b6c6c, @black, 1.7em);
        margin-top: 0;
      }
      .bg-silver {
        background: #eaeeed;
        margin-bottom: .5em;
        padding: 1.2em;
      }
      .wysija-input {
        padding: .4em;
        width: 100%;
      }
      .wysija-submit {
          background: #2274ac;
          border-top: none;
          border: 1px solid #bababa;
          box-shadow: 0px 1px 5px #d7d7d7;
          color: #ffffff;
          font-family: 'vw_headline_otsemibold';
          font-size: 1.2em;
          font-weight: normal;
          margin: 1.5em auto 0;
          min-width: 104px;
          padding: .3em 1.2em;
          &:hover {
            color: #fff;
          }
      }
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .content-post {
    .font(#49555e, @book, 1.1em);
    line-height: 160%;
      .block-left {
          margin: 1em 1.5em 1em 0;
      }
      .block-right {
          margin: 1em 0 1em 1.5em;
      }
      .figure-author {
          figure {
              img {
                  border: 1px solid #adb1af;
                  padding: 2px;
              }
          }
          .resalt-post {
              border-bottom: 1px solid #e5e5e5;
              padding: 1em 0 1em .5em;
              p {
                  .font(#737373, @semibold, 21px);
                  margin: 0;
              }
              span {
                  .font(#a3a3a3, @semibold, 14px);
              }
          }
      }
      .shortcode-img {
        figure {
          figcaption {
            color: #8d8680;
            font-size: 12px;
            font-weight: normal;
            margin: .5em 0;
          }
          img {
            width: 100%
          }
        }
        h2 {
          .font(#737373, @semibold, 1em);
        }
      }
      .quote {
          // background: url('../img/icon/ico-quote.png') no-repeat left top 20px;
          // padding-top: 4em;
          &:after {
            content: url("../img/icon/bloque-right-bottom.png");
            margin-right: -33px;
            float: right;
          }
          &:before {
            content: url("../img/icon/bloque-left-top.png");
            margin-left: -40px;
            margin-top: -14px;
            float: left;
          }
      }
      .testimonio {
        h3 {
          .font(#737373, @semibold, 1em);
        }
      }
  }
  .comments-all {
    background: #eaeeed;
    margin-top: 1em;
    padding: 1em;
    // Comments site
    .comments {
        clear: both;
        float: none;
        margin: 10px 0 15px;

        .comment {
            border-bottom: 1px dotted #a8a8a8;
            border-top: 1px dotted #a8a8a8;
            margin-bottom: 10px;
            padding: 10px 10px 0;
            width: 97.9%;

            article {
                margin-left: 15px;
                width: 90%;

                p { .font(#6a6a6a, Arial, 13px); margin-bottom: 0; }
                .autor-resp {
                    .font(#7296ac, @semibold, @size);
                    margin-bottom: 10px;
                    text-transform: uppercase;

                    a {
                        color: #7296ac;
                        text-decoration: none;
                    }

                    span { display: block; font-family: Arial; font-size: 11px; }
                }
            }
                                                // Mauricio
            figure { height: 60px; width: 60px; opacity: .7; }
        }
        .comment-resp {
            border-bottom: 1px dotted #a8a8a8;
            border-top: 1px dotted #a8a8a8;
            clear: both;
            float: none;
            margin: 0 0 31px 88px;
            padding: 10px 10px 15px;
            width: 87.6%;

            article {
                margin-left: 15px;
                width: 89%;

                p { .font(#6a6a6a, Arial, 13px); margin-bottom: 0; }
                .autor-resp {
                    .font(#5e88a2, @semibold, @size);
                    margin-bottom: 10px;
                    text-transform: uppercase;

                    span { display: block; font-family: Arial; font-size: 11px; }
                }
            }
            figure { height: 60px; width: 60px; }
        }
        .comment-resp-button {
            .font(#5e88a2, Helvetica, 15px);
            cursor: pointer;
            margin-bottom: 8px;
            text-align: center;
            text-transform: uppercase;

            a {
                color: #5e88a2;
            }

            span { display: block; font-size: 11px; text-transform: initial; }
        }
    }
    .comment-respond {

        h3 {
            .font(#23bde5, arial, 1em);
            margin: 3em 0 1em;
        }
        .caff,
        .caff-area {
            border: 1px solid #7296ac;
            height: 35px;
            line-height: 35px;
            padding: 0 3px;
            width: 97%;
        }

        .caff-area {
            height: 60px;
            margin-bottom: 1em;
            width: 97%;
        }
        .caff-button {
            background-color: #7296ac;
            border: none;
            .font(white, @semibold, @size);
            height: 30px;
            line-height: 30px;
            margin: 15px 16px 5px 0;
            text-align: center;
            text-transform: uppercase;
            width: 110px;
        }

        .caff-large {
            width: 160px;
        }
        .caff-label { display: block; .font(#7296ac, @semibold, 13px); margin: 15px 0 10px; text-transform: uppercase; }


        .post-two-column div {
            width: 49%;
        }

    }
    #comments-title {
        .font(#23bde5, arial, 1em);
    }
    .inline {
        display: inline-block;
        vertical-align: top;
    }
    .right {
        float: right;
    }
    .right-align {
      text-align: right;
    }
    // Comments site
  }
  .comments-info {
    .font(#0076a5, @book, 1.1em);
    background: url(../img/icon/icon-comments.png) no-repeat left center;
    margin: 2em 0 0;
    padding: 1em 3.2em;
  }
  .internal-image {
    margin-bottom: 3em;
    position: relative;
    overflow: hidden;
    figcaption {
      .font(#fff, @black, 3.2em);
      background: rgba(1, 1, 1, .4);
      bottom: 0;
      min-height: 2.5em;
      padding: .4em 2em .2em 1em;
      position: absolute;
      width: 100%;
    }
  }
  .social-networks {
    text-align: right;
    margin-bottom: 1.5em;
    min-height: 2.7em;
    .addthis_toolbox {
      float: right;
    }
    .right-models {
      display: inline-block;
      margin-right: .5em;
      margin-top: 0.2em;
      text-align: center;
      vertical-align: top;
    }
  }
  .title-internal {
    .font(#2274ac, @black, 2em);
    margin: 1.5em 0 1em;
  }
  .title-principal {
    .font(#6b6c6c, @black, 3em);
    margin: 0 0 .5em;
  }
}
.long-post {
  .excerpt {
    padding: 3em!important;
  }
}
.main-post {
  .excerpt {
    padding: 5em!important;
  }
}
.post-gallery {
    clear: both;
    padding-top: 1.5em;
    .bxbanner {
      figure {
        figcaption {
          .font(#49555e, arial, .7em);
          margin-top: 1em;
        }
      }
    }
    //  *************    Bxslider  ************
    .bx-controls-direction {
        a.bx-prev {
            // top: 50%;
        }
        a.bx-prev {
            left: 0;
        }
    }
    .bx-pager {
        display: none;
    }
    .bx-wrapper {
        margin-bottom: 1.8em;
    }
    .bx-viewport {
        border: none;
        box-shadow: none;
        ul {
        }
    }
//  *************    Bxslider  ************

}
.post-gallery-all {
    clear: both;
    padding-top: .7em;
    //  *************    Bxslider  ************
    .bx-controls-direction {
        a {
            top: -20%;
        }
    }
    .bx-pager {
        display: none;
    }
    .bx-viewport {
        border: none;
        box-shadow: none;
        ul {
        }
    }
//  *************    Bxslider  ************

}
.register {
  h4 {
    .font(#020000, @book, 1.5em);
  }
  form {
    input[type="text"], input[type="password"] {
      padding-left: .5em;
      width: 75%;
    }
    input[type="submit"] {
      background: #3868a5;
      border: none;
      color: #fff;
      padding: .2em .7em;
    }
    p {
      margin: 0;
    }
  }
  .benefits {
    margin-top: 3em;
    div {
      figure {
        margin-bottom: 1.5em;
      }
      p {
        .font(#020000, @book, 1.5em);
      }
    }
  }
  .margin-p {
    margin: 1em 0;
  }
  .register-facebook {
    .font(#020000, @book, 1.1em);
    margin-top: 1.5em;
  }
}
.search {
  input[type="text"] {
    border: 1px solid #eaeaea;
    border-top: 1px solid #e9e9e9;
    min-width: 14.4em;
  }
  input[type="submit"] {
    .font(#49555e, @semibold, .9em);
    background: #fff url(../img/icon/icon-search.png) no-repeat center left 1em;
    border: 1px solid #bababa;
    border-top: none;
    border-radius: .3em;
    box-shadow: 0px 1px 5px #d7d7d7;
    padding: .15em 2em .15em 2.5em;
  }
}
.social-networks {
    .stLarge {
        padding: 1em;
    }
    .st_facebook_large {
      .stLarge {
          background: url('../img/icon/share.png') no-repeat left 0 top 0 !important;

      }
    }
    .st_twitter_large {
      .stLarge {
          background: url('../img/icon/share.png') no-repeat left -80px top 0px !important;
      }
    }
    .st_linkedin_large {
      .stLarge {
          background: url('../img/icon/share.png') no-repeat left -41px top 0px !important;
      }
    }
    .st_email_large {
       .stLarge {
          background: url('../img/icon/share.png') no-repeat left -119px top 0px !important;
      }
    }
}
.title-general {
  .font(#737373, @semibold, 1.5em);
  margin-bottom: 1em;
}
.view-more {
  background: url(../img/icon/plus.png) no-repeat center;
  padding: 1.5em 1.5em;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.visible-phone {
  display: none;
}
.visible-mobile {
  display: none;
}
#branding {
  display: none;
}
// --------------
#toggle {
  width: 28px;
  height: 30px;
  margin: 10px auto;
  display: none;
  position: absolute;
  top: 3.5em;
  right: 0;
    div {
      width: 100%;
      height: 5px;
      background: #42545e;
      margin: 4px auto;
      transition: all 0.3s;
      backface-visibility: hidden;
    }
}

#toggle.on {
  .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .two {
    opacity: 0;
  }
  .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }
}



// --------------




















   // Edit bootstrap
a:hover {
  text-decoration: none;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 8px
}

.container {
      // padding-right: 4px;
      // padding-left: 4px;
}
.padding-container {
  padding: 0 20px;
}
.row {
  margin-right: -4px;
  margin-left: -4px;
  margin-top: -8px
}

// end Edit bootstrap
