// Edit bootstrap

@media (min-width: 1200px) {
	.container {
		max-width: 1120px;
	}
}

// end Edit bootstrap


@media (max-width: 1153px) {
	.padding-container {
	  padding: 0;
	}	
}

@media (max-width: 991px) {
	header {
		nav {
			ul {
				li {
					a {
						font-size: 1.5em;
					}
				}
			}
		}
		.logo {
	      img {
	        max-width: 100%;
	      }
	    }
	}

	.category {
	  article.post-category {
	    figure {
	    	display: inline-block;
	    }
	    .info-post {
	    	padding-left: 0;
	    }
	  }
	}

	.content-home {
		article {
			figure {
				img {
					width: 100%;
				}
			}
		}
	}
	.margin-bottom-mobile {
		margin-bottom: 8px;
	}
	.hidden-mobile {
		display: none;
	}
	.visible-mobile {
		display: block;
	}
}

@media (max-width: 710px) {
	header {
		nav {
			display: block;
			margin: 1em 0;
			text-align: center;
			ul {
				padding: 0;
				li {
					a {
						font-size: 1.2em;
					}
				}
			}
		}
		.logo {
	      img {
	        max-width: 60%;
	      }
	    }		
		.button-header {
			// margin-top: 1em;
			// position: relative;
			// text-align: right;
		}
	}
	.internal-post {
	  .internal-image {
	    figcaption {
			font-size: 2em;
	    }
	  }
	}	
}

@media (max-width: 500px) {
	header {
		border-bottom: none;
		nav {
			display: none;
			ul {
				li {
					// border-left: 1px solid #cecece;
					// border-right: 1px solid #cecece;
					border-bottom: 1px solid #cecece;
					display: block;
					padding: .3em 0;
					text-align: left;
					a {
						border-right: none;
					}
				}
				form {
					padding: .5em 0;
				}
			}
		}
		.button-header-mobile {
			section {
				margin-top: 0;
			}
		}
	    .search {
	      input[type="submit"]{
			border: 0;			
			color: #fff;
			width: 0.1em;
	      }
	    }
	        
        		
		.social-networks {
			margin: 1em 0;
		}
	}
	.category {
	  .right-models {
	  	display: inline-block;
	  	float: none;
	  }
	}	
	.col-xx-1 {
		width: 100%;
	}
	.content-home {
		 article {
		 	figure {
		 		.excerpt {
		 			padding: 2.5em;
		 		}
		 	}
		 }
		 .move-your-business {
		 	margin-top: .5em;
		 }
	}	
	.internal-post {
	  .internal-image {
	    figcaption {
			font-size: 1.2em;
	    }
	  }
	}
	.filter {
		.button-blue {
			min-width: 75px;
		}
		.ms-parent {
			width: 170px !important;
		}		
	}
	.register {	  
	  form {
	    input[type="text"], input[type="password"] {	     
	      width: 100%;
	    }
	  }
	}
	.visible-phone {
		display: block;
	}	
	.visible-no-phone {
		display: none;
	}
	#toggle {
		display: block;
	}
}

@media print {
	body { font-size: 12px; }
	.single-post {
		aside {display: none; }
		footer { display: none;}
		header {display: none; }
		.breadcrumbs {display: none; }
		.content-home {display: none; }
		.comments-info {display: none; }
		.comments-all {display: none; }
		.content-home {display: none; }
		.title-internal { display: none; }    
	}
}